// @import "compass";
// @import "breakpoint";
@import 'susy';

$susy: (
  columns: 12,
  gutter-position: inside,
  math: fluid,
  output: float,
  flow: rtl,
);

html {
  position: relative;
  min-height: 100%; }

body {
  /* margin bottom by footer height + 20px for margin */
  margin-bottom: 80px; }

body > .container {
  padding: 60px 15px 0; }

.navbar .navbar-nav a {
  text-transform: capitalize; }

.container .text-muted {
  margin: 20px 0; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

#footer > .container {
  padding-right: 15px;
  padding-left: 15px; }
