<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tara Marchand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        {{{stylesheetTags stylesheets}}}
    </head>
    <body>
        {{> header}}
        <article class="wrapper">
            <div>
                <div class="body">
                {{{body}}}
                </div>
            </div>
        </div>
        {{> footer}}
        <script>{{{state}}}</script>
        {{{scriptTags scripts}}}
    </body>
</html>
