<div class="page-header">
    <h1>Standalone Backbone!</h1>
    <p>No Internet connection needed.</p>
</div>

{{addScript "node_modules/jquery/dist/jquery.js"}}
{{addScript "node_modules/underscore/underscore-min.js"}}
{{addScript "node_modules/backbone/backbone-min.js"}}
{{addScript "scripts/backbone-standalone.js"}}
