<div class="page-header">
    <h1>Home!</h1>
    <p>Playing around with...</p>
    <ul>
        <li><a href="d3demo">D3</a></li>
        <li><a href="ember">Ember</a></li>
        <li><a href="instagram">React (and Instagram)</a></li>
    </ul>
    {{#if user}}
    <p>Welcome, {{user.name}}.</p>
    <p>{{user.tagline}}</p>
    {{/if}}
</div>
