<div class="page-header">
    <h1>Home!</h1>
    <p>Here's my <a href="/resume">resume</a>, or you can look at my <a href="http://trm-prototypes.herokuapp.com/">code playground</a>.</p>
    {{#if user}}
    <p>Welcome, {{user.name}}.</p>
    <p>{{user.tagline}}</p>
    {{/if}}
</div>
