<h2>Summary</h2>
<ul>
    <li>Seasoned, flexible technologist with over 16 years of professional engineering experience</li>
    <li>Track record of creating engaging user experiences using innovative solutions for large clients</li>
    <li>Always learning and dedicated to staying up-to-date on available and emerging technologies</li>
</ul>
<h2>Technical Skills and Knowledge</h2>
<h3>Languages and Frameworks</h3>
<p><strong>Client:</strong> JavaScript, HTML(5), CSS(3)<br>
    <strong>Server:</strong> PHP, ASP.NET, Java frameworks and templating engines, CFML, SQL</p>
<h3>Other Technologies and Techniques</h3>
<p>object-oriented programming, model/view/controller (MVC) architecture, web services, design patterns, regular expressions, Unix command-line interfaces, shell scripting, version control systems, build tools, package managers, content management systems, web/application servers and databases, feature and bug management systems, mobile-first and responsive design and development, rapid prototyping, agile methodologies, localization, analytics solutions, API integration, image production</p>
<h2>Professional Experience</h2>
<h3>R/GA, San Francisco, CA</h3>
<h4>Front End Solutions Architect (March 2012-present); Senior Presentation Code Developer (October 2009-March 2012)</h4>
<p>Architect and lead development of desktop, mobile, and responsive web sites and applications for big clients, focusing on complex JavaScript. Define development standards. Create prototypes and advise about technical approaches. Scope/estimate time required for development projects. Translate visual designs and wireframes into layouts. Collaborate with clients. Work across disciplines with producers, designers, back-end engineers, and QA.</p>
<p><strong>Clients:</strong> Nike (Nike Events Tool, <a href="http://nikeplus.nike.com/plus/">Nike+/FuelBand</a>), Microsoft (<a href="http://www.microsoft.com/surface/">Surface</a>), <a href="http://www.tacobell.com/">Taco Bell</a>, <a href="http://www.oblong.com/">Oblong</a>, Logitech (Smart TV), <a href="http://www.kgstores.com/">K&amp;G</a>, Hewlett-Packard (<a href="http://h30495.www3.hp.com/detail/554">Printer App</a>), Verizon Telecom</p>
<h3>DHAP Digital, San Francisco, CA</h3>
<h4>User Interface Developer (December 2007-July 2009)</h4>
<p>Built and maintained web applications and sites. Implemented complex interfaces, following requirements defined in designs, wireframes, and written specifications. Collaborated with project managers, server-side developers, and quality assurance engineers in cross-functional teams. Wrote technical documentation. Broke down projects into work items with time estimates. Defined application architectures, managed project tasks, shaped UI development standards, and determined development environment setups.</p>
<p><strong>Clients:</strong> Toyota Motor Corporation (Toyota, Lexus, Scion; <a href="http://www.lexus.com/">Lexus.com</a>, <a href="http://www.lexus.com/lexusConfigApp/index.jsp">Build Your Lexus</a>), Adobe Systems Incorporated (<a href="http://www.adobe.com/cfusion/marketplace/index.cfm">Adobe Marketplace</a>), The Related Content Database (RCDb)</p>
<h3>Publicis Modem (formerly Modem Media), San Francisco, CA</h3>
<h4>Senior User Interface Developer (April 2005-December 2007)</h4>
<p>Coded and maintained web sites for large clients. Worked closely with project managers, information architects, designers, copywriters, and quality assurance engineers. Evaluated feasibility of wireframes and design concepts and translated business and functional needs into technical requirements. Built, managed, and analyzed data for complex, high-volume email campaigns. Created localized versions of sites. Wrote technical documentation. Promoted once and rewarded several times for outstanding performance.</p>
<p><strong>Clients:</strong> Amgen and Wyeth Pharmaceuticals (<a href="http://www.insidera.com/">InsideRA.com</a>, <a href="http://www.psoriasisconnections.com/">PsoriasisConnections.com</a>), Blue Shield of California (nominated for a <a href="http://www.webbyawards.com/webbys/current.php?season=12#webby_entry_insurance">2008 Webby Award</a> in the Insurance category), Sprint, Microsoft, Charles Schwab</p>
<h3>Office of Educational Technology, UC San Francisco School of Medicine</h3>
<h4>Educational Technology Developer (January 2003-December 2004)</h4>
<p>Developed content for and administered online courses for hundreds of UCSF medical students, faculty, and staff using a variety of web-based tools. Contributed to Ilios, an online student calendar. Created and updated content on School of Medicine sites.</p>
<h3>UC Berkeley Extension Online</h3>
<h4>Principal Web Designer (February 2000-January 2003)</h4>
<p>Supervised a team of 3 web developers for the online division of UC Berkeley’s continuing education branch. Coded and managed over 50 online courses, and maintained the organization’s main web site. Developed production processes and standards. Created content for and built a sample online classroom for potential students. Promoted once and received departmental Dean’s Performance Award for 2002.</p>
<h3>Information Systems and Technology, UC Berkeley</h3>
<h4>Workstation Support Services: Programmer/Analyst I (January 1997-February 2000)</h4>
<p>Provided hands-on Macintosh technical support for 55 client computers. Provided first-tier support to staff and faculty over the phone and via email. Installed and fixed problems with Macintosh software and hardware. Maintained workgroup and client web sites and wrote documentation. Promoted twice.</p>
<h4>Public Information: Editor (July 1999-February 2000)</h4>
<p>Wrote and edited content and prepared images for a web and print publication distributed to thousands of UC Berkeley staff. Created print page layouts and PDF versions of publication. Updated web site content.</p>
<h2>Publications</h2>
<p>Contributed material to two editions of <cite>The Macintosh Bible</cite>, “the most comprehensive Mac resource on the planet” (Peachpit Press).<br>
    <strong>9th Edition</strong> (Peachpit Press, 2004). Co-wrote a 30-page chapter on web development.<br>
    å<strong>8th Edition</strong> (Peachpit Press, 2002). Contributed to a chapter on connecting to the Internet.
</p>
<h2>Education</h2>
<p>MA, Psychology (Neuroscience and Behavior), 1996, University of California, Santa Barbara.<br>
    BS, Psychology (Biology Emphasis), 1994, University of California, Davis.</p>
