option_settings:
  aws:elasticbeanstalk:application:environment:
    INSTAGRAM_CLIENT_ID: 85c242c6db484d43b8d801f905f5d07b
    MONGOLAB_URI: mongodb://heroku_app23527347_A:dxtDdbyeatLeNRqETqqDRZTlcWkzZThs@ds039737.mongolab.com:39737/heroku_app23527347
    MONGOLAB_URL: mongodb://heroku_app23527347@ds039737.mongolab.com:39737/heroku_app23527347
    NEW_RELIC_LICENSE_KEY: 79260c80056de50bb762357cad5ef06392eb1fdd
    NEW_RELIC_LOG: stdout
    NEW_RELIC_LOG_LEVEL: error
    ROOT: http://tmarchand.herokuapp.com
    SENDGRID_PASSWORD: gxhbra911957
    SENDGRID_USERNAME: app23527347@heroku.com
    SESSION_SECRET: chickenbone
    SOCRATA_APP_TOKEN: Fw1RA8fAo46Si4L3ErTT62AVs
    SPOTIFY_CLIENT_ID: 6dc1c78facd7473cbd75b8753ce387a3
    SPOTIFY_CLIENT_SECRET: a348d103cdb74004b490d2fe530e5f13
    TWITTER_CONSUMER_KEY: Pi3XDQ8rPpNRfRGlOHMeYjp5u
    TWITTER_CONSUMER_SECRET: JLAO1vATpyIokSxmNDAsmaLaoAnvMvFNLPRIPBn9udLzrKVfNG
