#resume {
    margin: 0 auto;
}

@media screen {
    #resume {
        width: 43em;
    }
}

@media print {
    .wrapper {
        max-width: 100%;
        padding: 0;
    }

    body > .container {
        padding: 0;
    }

    .contact a[href]:after {
        content: none;
    }

    #profiles {
        margin-top: 20px;
    }

    #profiles .item {
        display: block;
    }

    #profiles .dot {
        display: none;
    }

    #profiles a[href]:after {
        content: ": " attr(href);
    }

    #footer {
        display: none;
    }
}

@page {
    size: auto;
    margin: 15mm 15mm;
}

#skills .item {
    margin-bottom: 0;
}

#skills .keywords {
    padding-left: 0;
}

#skills .keywords li {
    display: inline;
}

#skills .keywords li:after {
    content: ';'
}

#skills .keywords li:last-of-type:after {
    content: ''
}
