#resume {
    margin: 0 auto;
}

@media screen {
    #resume {
        width: 43em;
    }
}

@media print {
    body > .container {
        padding: 0;
    }

    #resume {
        width: 90%;
    }

    a[href]:after {
        content: none;
    }

    #footer {
        display: none;
    }
}

#skills .item {
    margin-bottom: 0;
}

#skills .keywords {
    padding-left: 0;
}

#skills .keywords li {
    display: inline;
}

#skills .keywords li:after {
    content: ';'
}

#skills .keywords li:last-of-type:after {
    content: ''
}

