@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000313}}
html {
  position: relative;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000317}}
body {
  /* margin bottom by footer height + 20px for margin */
  margin-bottom: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000321}}
body > .container {
  padding: 60px 15px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000324}}
.navbar .navbar-nav a {
  text-transform: capitalize;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000327}}
.container .text-muted {
  margin: 20px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000330}}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/taram\/Documents\/Projects\/tmarchand\/scss\/styles\.scss}line{font-family:\0000339}}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
